{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="main_page" id="section1">
        <div class="welcome-text">Welcome! to Snohomish county notification central!</div>
        <div class="secondary-text">Unsubscribe to stop receiving notifications from local government agencies</div>
        {#
        <button class="subscribe" onclick="window.location.href = '#section2'">Subscribe</button>
        #}
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if form.email.errors %}
            {{ form.email( class="form-control form-control-lg" )}}
            <label class="email_prompt">We don't have that address</label>
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <div id="section2">
                <br>
                <br>
                <label class="email_prompt">To unsubscribe to all email alerts.</label><br>
                <label class="email_prompt">Please enter your email address:</label><br><br>
                {{ form.email( class="form-control form-control-lg" ) }}
                {#
                <button type="button" class="btn btn-info" onclick="window.location.href = '#section3'">Next</button>
                #}
            </div>
            {% endif %}
        </div>
        <br>
        <div class="controllll">
            <div>
                <div class="checkbox_title"></div>
                <div>
                    {{ form.are_you_sure(class="checkbox_this")}}
                    <label style="color: lightyellow; font-size: 20px;">are you sure?</label>
                </div>
            </div>
            <br>
            <span class="submit_button">
                        {{ form.submit(class="btn btn-info") }}
                </span>
        </div>
    </form>
</div>
{% endblock content %}
