    html {
        scroll-behavior: smooth;
    }

    body {
        height: 3000px;
        background: linear-gradient(141deg, #0fb8ad 40%, #1fc8db 60%, #2cb5e8 75%);
    }

    .welcome-text {
        font-size: 40px;
        color: white;
        font-family: 'Raleway', sans-serif;
        margin-top: 6em;
    }

    .main_page {
        text-align: center;
    }

    .subscribe {
      background-color: #fff;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 26px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
        margin-top: 40px;
        border-radius: 5px;
    }

    .subscribe:hover {
        color: white !important;
        background-color: #1b6469;
        border: none;
    }

    #section1 {
        height: 600px;
        bacground-color: black;
    }

    .secondary-text {
        color: lightyellow;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
    }

    .email_prompt {
          position:absolute;
          font-size: 22px;
          font-weight: 200;
          color: white;
          z-index: 9999;
    }